.tintuc{
  &__section{

  }
  &__position{
    @include media-breakpoint-up('l'){
      top: 0;
      transform: translateY(0);
      margin-top: 0 !important;
    }
  }
  &__social{
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    &--fb{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.08738 11.0333C8.02458 11.0333 6.70718 11.0337 6.09958 11.0331C5.78678 11.0329 5.67518 10.9205 5.67518 10.6057C5.67478 9.79712 5.67458 8.98852 5.67518 8.17992C5.67538 7.86912 5.79338 7.75052 6.10218 7.75032C6.70978 7.74992 8.01998 7.75012 8.08738 7.75012C8.08738 7.69472 8.08718 6.52732 8.08738 5.98972C8.08778 5.19492 8.22958 4.43412 8.63338 3.73752C9.04678 3.02452 9.64838 2.53612 10.4194 2.25372C10.9132 2.07272 11.4258 2.00052 11.9498 2.00012C12.6054 1.99972 13.261 2.00032 13.9168 2.00152C14.1986 2.00192 14.3236 2.12652 14.3242 2.41032C14.3254 3.17092 14.3254 3.93152 14.3242 4.69192C14.3238 4.97872 14.204 5.09392 13.9158 5.09712C13.3784 5.10292 12.8406 5.09932 12.3038 5.12092C11.7616 5.12092 11.4764 5.38572 11.4764 5.94692C11.4634 6.54052 11.471 7.13472 11.471 7.74992C11.5218 7.74992 13.0648 7.74972 13.786 7.74992C14.1136 7.74992 14.2256 7.86252 14.2256 8.19192C14.2256 8.99612 14.2254 9.80052 14.2248 10.6047C14.2246 10.9293 14.1194 11.0329 13.7898 11.0331C13.0686 11.0335 11.5316 11.0333 11.4644 11.0333V17.5423C11.4644 17.8893 11.3552 17.9999 11.0128 17.9999C10.178 17.9999 9.34298 18.0001 8.50818 17.9999C8.20558 17.9999 8.08758 17.8823 8.08758 17.5797C8.08738 15.4599 8.08738 11.1077 8.08738 11.0333Z' fill='%233D6AD6'/%3E%3C/svg%3E%0A");
    }
    &--tiktok{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.7625 5.01562C17.6211 5.01562 16.5679 4.6375 15.7222 3.99961C14.7523 3.26836 14.0554 2.1957 13.8093 0.959375C13.7484 0.653906 13.7156 0.338672 13.7125 0.015625H10.4519V8.925L10.448 13.8051C10.448 15.1098 9.59841 16.216 8.42067 16.6051C8.07887 16.718 7.70973 16.7715 7.32536 16.7504C6.83473 16.7234 6.37497 16.5754 5.97536 16.3363C5.12497 15.8277 4.54841 14.9051 4.53278 13.8496C4.50817 12.2 5.84176 10.8551 7.4902 10.8551C7.81559 10.8551 8.12809 10.9082 8.42067 11.0047V8.56953V7.69414C8.11208 7.64844 7.79801 7.62461 7.48044 7.62461C5.67614 7.62461 3.98864 8.37461 2.78239 9.72578C1.87067 10.7469 1.3238 12.0496 1.23942 13.4156C1.12887 15.2102 1.78551 16.916 3.05895 18.1746C3.24606 18.3594 3.44255 18.5309 3.64801 18.6891C4.73981 19.5293 6.07458 19.9848 7.48044 19.9848C7.79801 19.9848 8.11208 19.9613 8.42067 19.9156C9.73395 19.7211 10.9457 19.1199 11.9019 18.1746C13.0769 17.0133 13.7261 15.4715 13.7332 13.8305L13.7164 6.54297C14.2769 6.97539 14.8898 7.3332 15.5476 7.61094C16.5707 8.04258 17.6554 8.26133 18.7718 8.26094V5.89336V5.01484C18.7726 5.01562 18.7632 5.01562 18.7625 5.01562Z' fill='black'/%3E%3C/svg%3E%0A");
    }
    &--yt{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8463 2.92383H4.15374C1.85969 2.92383 0 4.78352 0 7.07757V12.9226C0 15.2166 1.85969 17.0763 4.15374 17.0763H15.8463C18.1403 17.0763 20 15.2166 20 12.9226V7.07757C20 4.78352 18.1403 2.92383 15.8463 2.92383ZM13.0371 10.2845L7.56814 12.8928C7.42241 12.9623 7.25408 12.8561 7.25408 12.6947V7.31488C7.25408 7.15115 7.42684 7.04503 7.57287 7.11905L13.0418 9.89045C13.2044 9.97284 13.2016 10.206 13.0371 10.2845Z' fill='%23F61C0D'/%3E%3C/svg%3E%0A");
    }
  }
  &__titleDetail{
    color: rgba(38, 38, 38, 0.9);
    @include font-size(32px);
    line-height: 1.44;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  &__article{
    color: #002A40;
    @include fluidx(16px,14px,font-size);
    line-height: 1.75;
  }
  &__title{
    letter-spacing: -0.02em;
    font-family: 'Inter', sans-serif;
    color: #262626;
    @include font-size(40px);
    font-weight: 600;
  }
  &__desc{
    color: #667085;
    @include fluidx(16px,14px,font-size);
  }
  &__formSearch{
    &__input{
      width: 360px;
      height: 48px;
      border: 1px solid #F1F1F1;
      /* Shadow/xs */

      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      @include fluidx(16px,14px,font-size);
      &::placeholder{
        color: rgba(49, 49, 49, 0.5);
      }
    }
    &__btn{
      padding: 0 20px;
      @include fluidx(16px,14px,font-size);
      font-weight: 500;
      line-height: 46px;
      background: #D2242B;
      /* Shadow/xs */

      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      text-transform: inherit;
    }
  }
  &__w768{
    max-width: 100%;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  &__label{
    letter-spacing: -0.02em;
    font-weight: 600;
    @include font-size(20px);
    color: #000000;
  }
  &__box{
    .uk-cover-container{
      border-radius: 12px;
    }
  }
  &__card{
    .uk-cover-container{
      border-radius: 12px;
    }
    background: #FFFDF9;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 12px;
    @include media-breakpoint-up('m'){
      padding: 20px;

    }
    &:hover{
      background: #FFFBF0;
      box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.16);
    }
  }
  &__pagination{
    position: relative;
    >li{
      &:first-child,&:last-child{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-child{
        left: 0;
      }
      &:last-child{
        right: 0;
      }
    }
    .uk-icon{
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      svg{
        visibility: hidden;
      }
      &.uk-pagination-previous{
        margin-right: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8333 10.5003H4.16663M4.16663 10.5003L9.99996 16.3337M4.16663 10.5003L9.99996 4.66699' stroke='%23667085' stroke-width='1.67' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      &.uk-pagination-next{
        margin-left: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16667 10.0003H15.8333M15.8333 10.0003L10 4.16699M15.8333 10.0003L10 15.8337' stroke='%23667085' stroke-width='1.67' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
    >*{
      >*{
        padding: 0;
        color: #667085;
        font-size: 14px;
        font-weight: 500;
        min-width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.uk-active{
        >*{
          background: #E1F0F8;
          border-radius: 8px;
          color: #006699;
        }
      }
    }
  }
}