.tuyendung{
  &__card{
    position: relative;
    &:after{
      @include media-breakpoint-up('m'){
        content: "";
        background: #D2242B;
        width: 231px;
        height: 75px;
        display: flex;
        position: absolute;
        bottom: -28px;
        right: -20px;
        z-index: -1;
      }
    }
    &__title{
      color: #363636;
      font-weight: 500;
      @include fluidx(16px,14px,font-size);
      line-height: 1.14;
      @include media-breakpoint-up('m'){
        line-height: 1.25;
      }
    }
    &__btn{
      &:after{
        content: "";
        border: 1px solid #D2242B;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 6px;
        bottom: -6px;
        left: 16px;
        right: 16px;
        z-index: 0;
      }
      position: relative;
      @include fluidx(16px,14px,font-size);
      font-weight: 600;
      background: #D2242B;
      text-transform: inherit;
      line-height: 46px;
      padding: 0 26px;
      @include media-breakpoint-up('m'){
        padding: 0 37px;
      }
    }
    &__txt{
      color: #363636;
      font-weight: 500;
      @include fluidx(16px,14px,font-size);
      line-height: 1.57;
      @include media-breakpoint-up('m'){
        line-height: 1.75;
      }
    }
    &__boxTxt{
      @include fluidx(20px,14px,font-size);
      font-weight: 500;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      color: #fff;
      background: #309247;
      padding: 0 14px;
      min-height: 48px;
      @include media-breakpoint-up('m'){
        min-height: 60px;
        padding: 0 40px;
      }
    }
  }
  &__card1{
    &__body{
      position: relative;
      background: #FAFAFA;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
      margin-left: 8px;
      margin-right: 8px;
      margin-top: -60px;
      padding: 12px;
      //min-height: 100px;
      @include media-breakpoint-up('m'){
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
      }
    }
    &__title{
      @include fluidx(20px,18px,font-size);
      color: #D2242B;
      font-weight: 700;
      line-height: 1.33;
      @include media-breakpoint-up('m'){
        line-height: 1.4;
      }
    }
    &__txt{
      margin-top: 20px;
      @include fluidx(16px,14px,font-size);
      color: #363636;
      font-weight: 500;
      line-height: 1.57;
      @include media-breakpoint-up('m'){
        line-height: 1.75;
      }
    }
  }
  &__card2{
    text-align: center;
    min-height: 150px;
    padding: 16px;
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.12);
    background: #FFFCF3;
    .uk-first-column> &{
      background: #FFEEB9;
    }
    &__title{
      color: #D2242B;
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      text-transform: uppercase;
    }
    &__txt{
      color: #262626;
      line-height: 1.57;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__card3{
    &__grid{
      &:nth-child(n+2){
        margin-top: calc(-33px + 21px);
      }
    }
    &__column{

    }
    &__txt1{
      color: #D2242B;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      position: relative;
      &:after{
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 20px;
        height: 20px;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6724 15.62C11.5068 15.6209 11.3447 15.5726 11.2067 15.4811C11.0688 15.3895 10.9612 15.259 10.8977 15.1061C10.8342 14.9532 10.8177 14.7848 10.8503 14.6225C10.8828 14.4602 10.963 14.3112 11.0806 14.1946L15.4983 9.78518L11.0806 5.37573C10.944 5.21627 10.8726 5.01116 10.8808 4.80137C10.8889 4.59159 10.9758 4.39259 11.1243 4.24414C11.2727 4.09569 11.4717 4.00872 11.6815 4.00062C11.8913 3.99252 12.0964 4.06388 12.2559 4.20043L17.2571 9.2017C17.4124 9.35787 17.4995 9.56913 17.4995 9.78934C17.4995 10.0096 17.4124 10.2208 17.2571 10.377L12.2559 15.3783C12.1006 15.5322 11.891 15.6191 11.6724 15.62Z' fill='%23D2242B'/%3E%3Cpath d='M5.00029 15.8332C4.83477 15.8341 4.67271 15.7858 4.53478 15.6943C4.39685 15.6028 4.28929 15.4723 4.22581 15.3194C4.16234 15.1665 4.14583 14.9982 4.17839 14.8359C4.21095 14.6736 4.2911 14.5247 4.40862 14.4082L8.82529 9.99983L4.40862 5.5915C4.2517 5.43458 4.16355 5.22175 4.16355 4.99983C4.16355 4.77791 4.2517 4.56508 4.40862 4.40816C4.56554 4.25124 4.77837 4.16309 5.00029 4.16309C5.22221 4.16309 5.43504 4.25124 5.59196 4.40816L10.592 9.40816C10.7472 9.5643 10.8343 9.77551 10.8343 9.99566C10.8343 10.2158 10.7472 10.427 10.592 10.5832L5.59196 15.5832C5.51478 15.6619 5.42274 15.7245 5.32118 15.7675C5.21961 15.8104 5.11055 15.8327 5.00029 15.8332Z' fill='%23D2242B'/%3E%3C/svg%3E%0A");
        .tuyendung__card3__column:last-child &{
          opacity: 0;
        }
      }
    }
    &__txt2{
      color: #262626;
      line-height: 1.75;
      font-size: 16px;
      font-weight: 500;
    }
    text-align: center;
    position: relative;
    width: 299px !important;
    min-height: 224px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 49px;
    padding-right: 80px;
    .tuyendung__card3__column:nth-child(2n) &{
      background-image: url("data:image/svg+xml,%3Csvg width='299' height='224' viewBox='0 0 299 224' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_712_55811)'%3E%3Cpath d='M8 12H258.66V26.6153C258.66 30.0406 260.124 33.3026 262.682 35.5797L278.927 50.0356C284.29 54.8085 284.29 63.1915 278.927 67.9644L262.682 82.4203C260.124 84.6974 258.66 87.9594 258.66 91.3847V212H8V12Z' fill='%23FFFCF3'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_712_55811' x='0' y='0' width='298.949' height='224' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='4'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_712_55811'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_712_55811' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .tuyendung__card3__column:nth-child(2n + 1) &{
      background-image: url("data:image/svg+xml,%3Csvg width='299' height='224' viewBox='0 0 299 224' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_712_55813)'%3E%3Cpath d='M8 12H258.66V26.6153C258.66 30.0406 260.124 33.3026 262.682 35.5797L278.927 50.0356C284.29 54.8085 284.29 63.1915 278.927 67.9644L262.682 82.4203C260.124 84.6974 258.66 87.9594 258.66 91.3847V212H8V12Z' fill='%23FFEEB9'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_712_55813' x='0' y='0' width='298.949' height='224' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='4'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_712_55813'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_712_55813' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .tuyendung__card3__column:last-child &{
      width: 305px !important;
      background-image: url("data:image/svg+xml,%3Csvg width='305' height='224' viewBox='0 0 305 224' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_712_55805)'%3E%3Cpath d='M8 12H289V32V59V86V212H8V12Z' fill='%23FFEEB9'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_712_55805' x='0' y='0' width='305' height='224' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='4'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_712_55805'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_712_55805' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .tuyendung__card3__column:nth-child(n + 2) &{
      margin-left: -48px;
    }
  }
  &__cauhoi{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F5F5F5;
    @include media-breakpoint-up('m'){
      padding-top: 40px;
      padding-bottom: 80px;
      min-height: 516px;
      background: url("images/bg_faq1.png") no-repeat top left,
      url("images/bg_faq2.png") no-repeat top right,
      #F5F5F5;
    }
    &__width{
      max-width: 100%;
      width: 580px;
    }
    &__accordion{
      &__li{
        &:nth-child(n+2){
          margin-top: 12px;
          @include media-breakpoint-up('m'){
            margin-top: 20px;
          }
        }
      }
      &__title{
        &:before{
          width: 20px;
          height: 20px;
          margin: 0;
          position: absolute;
          right: 14px;
          top: 50%;
          transform: translateY(-50%);
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99983 13.3341C9.89016 13.3348 9.78144 13.3138 9.67991 13.2723C9.57838 13.2308 9.48603 13.1697 9.40816 13.0925L4.40816 8.09247C4.25124 7.93555 4.16309 7.72272 4.16309 7.50081C4.16309 7.27889 4.25124 7.06606 4.40816 6.90914C4.56508 6.75222 4.77791 6.66406 4.99983 6.66406C5.22175 6.66406 5.43458 6.75222 5.5915 6.90914L9.99983 11.3258L14.4082 6.91747C14.5676 6.78095 14.7726 6.70961 14.9824 6.71771C15.1921 6.72581 15.3911 6.81276 15.5395 6.96117C15.6879 7.10958 15.7748 7.30853 15.7829 7.51826C15.791 7.72799 15.7197 7.93305 15.5832 8.09247L10.5832 13.0925C10.4279 13.2464 10.2184 13.3332 9.99983 13.3341Z' fill='black'/%3E%3C/svg%3E%0A");
          .uk-open> &{
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99983 13.3341C9.89016 13.3348 9.78144 13.3138 9.67991 13.2723C9.57838 13.2308 9.48603 13.1697 9.40816 13.0925L4.40816 8.09247C4.25124 7.93555 4.16309 7.72272 4.16309 7.50081C4.16309 7.27889 4.25124 7.06606 4.40816 6.90914C4.56508 6.75222 4.77791 6.66406 4.99983 6.66406C5.22175 6.66406 5.43458 6.75222 5.5915 6.90914L9.99983 11.3258L14.4082 6.91747C14.5676 6.78095 14.7726 6.70961 14.9824 6.71771C15.1921 6.72581 15.3911 6.81276 15.5395 6.96117C15.6879 7.10958 15.7748 7.30853 15.7829 7.51826C15.791 7.72799 15.7197 7.93305 15.5832 8.09247L10.5832 13.0925C10.4279 13.2464 10.2184 13.3332 9.99983 13.3341Z' fill='white'/%3E%3C/svg%3E%0A");
          }
        }
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
        padding: 6px 12px;

        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        .uk-open> &{
          background: #D2242B;
          color: #fff;
        }
        @include media-breakpoint-up('m'){
          padding: 0 14px;
          min-height: 48px;
        }
      }
      &__content{
        border-left: 1px solid #D2242B;
        padding-left: 12px;
        padding-right: 12px;
        color: rgba(38, 38, 38, 0.8);
        @include fluidx(16px,14px,font-size);
        line-height: 1.57;
        margin-top: 12px;
        @include media-breakpoint-up('m'){
          border: none;
          margin-top: 20px;
          line-height: 1.75;
          padding-left: 14px;
          padding-right: 14px;
        }
      }
    }
  }
}