.jointeam{
  ~ .uk-sticky-placeholder{
    display: none;
  }
  .uk-container{
    padding-left: 0;
    @include media-breakpoint-up('m'){
      padding-left: 40px;
    }
  }
  .uk-navbar,
  .uk-navbar-right{
    gap: 5px;
    @include media-breakpoint-up('m'){

    }
  }
  .uk-alert-close{
    @include media-breakpoint-down('xs'){
      top: 3px;
      right: 3px;
    }
  }
  &__navbar{
    @extend .footer__blockRegister;
  }
  &__navbarItem{
    //min-height: 80px;
    @include media-breakpoint-up('m'){
      //min-height: 80px;
    }
  }
  &__txt{
    color: #D2242B;
    font-weight: 500;
    line-height: 1.5;
    @include media-breakpoint-up('m'){
      line-height: 1.44;
    }
    @include fluidx(18px,12px,font-size);
  }
  &__btn{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: inherit;
    background: #D2242B;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    @include fluidx(16px,14px,font-size);
    @include media-breakpoint-up('m'){
      padding-left: 30px;
      padding-right: 30px;
      line-height: 46px;
    }
  }
  &__img{
    @include fluidx(110px,80px,width);
  }
}