.item{
  $x:40;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:20;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:16;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:15;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:12;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:10;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:8;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $max:126;
  $min:48;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:120;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:110;
  $min:60;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:80;
  $min:40;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:80;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:60;
  $min:40;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:60;
  $min:38;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:49;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:40;
  $min:35;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:40;
  $min:32;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      &.uk-grid-margin{
        margin-top: #{$min}px !important;
      }
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
        &.uk-grid-margin{
          margin-top: #{$max}px !important;
        }
      }
    }
  }
  $max:40;
  $min:28;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:40;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:40;
  $min:16;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:40;
  $min:12;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:31;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:24;
  $min:16;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:20;
  $min:16;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:20;
  $min:12;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:20;
  $min:10;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:16;
  $min:12;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
}